/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --color-titulos: #464646;
    --color-fondo-azul: #EAF2FD;
    --color-cajas: #fbfbfb;
    --azul-botones: #2A7AE4;
}


body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;

}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    height: 10vh;
    margin: 0px 153px;
}

header.menu__header h3.menu__title {
    white-space: nowrap;
    margin-left: 2px
}

/*cabecera y espacios*/
header.menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-titulos);

}

/* estilo */
section.menu nav ul.menu__list li:nth-child(6) {
    color: black;
    font-weight: 800;
}

/*items menu*/
section.menu nav ul.menu__list {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    width: 750px;
}



/*Sección Title*/

section.title {
    margin: 0 153px;
    color: var(--color-titulos);
}

section.title div.title__div {
    justify-content: space-around;
    align-content: flex-start;
    display: flex;
    flex-direction: row-reverse;
}

/* titulo principal*/
section.title div.title__container h2 {
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
}

/* imagen de perfil*/
section.title img.title__profile {
    border-radius: 50%;
    width: 368px;
    height: 368px;
}


section.title div.title__div div.title__container h3 {
    font-size: 17px;
    line-height: 23px;
    width: 600px;
    margin-bottom: 30px;

}

/* container link redes sociales*/
section.title div.title__div div.title__container ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    width: 500px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}


/*Sección About*/

section.about {
    padding: 60px 153px;
    background-color: var(--color-fondo-azul);
}

section.about div.about__container {
    width: 700px;


}

section.about h3.about__title {
    font-size: 32px;

}

section.about div.about__container p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;


}

/*Sección Skills*/

section.skills {
    margin: 64px 100px
}

/* Titulo de la seccion*/
section.skills h3.skills__title {
    font-size: 32px;
    text-align: center;
}

/*Alineacion de iconos*/
section.skills div.skills__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}

/* Cajas Skills*/
section.skills div.skills__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    background-color: var(--color-cajas);
    margin: 22px 15px 22px 0px;
    width: 150px;
    height: 160px;

}

section.skills div.skills__box ul {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-titulos);
}



/*Sección Hobbies*/

section.hobbies {
    margin: 60px 100px;
}

/* Titulos de la seccion*/
section.hobbies h3.hobbies__title {
    font-size: 32px;
    text-align: center;
}

/* Alienacion de iconos*/
section.hobbies div.hobbies__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

/* Cajas Hobbies*/
section.skills div.skills__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    background-color: var(--color-cajas);
    margin: 22px 15px 22px 0px;
    width: 150px;
    height: 160px;

}

section.hobbies div.hobbies__box ul {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-titulos);
}

section.hobbies div.hobbies__line div.hobbies__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    background-color: var(--color-cajas);
    margin: 22px 15px 22px 0px;
    width: 150px;
    height: 160px;
}



/* Experiencia Académica*/


section.academic {
    padding: 64px 0;
    background-color: var(--color-fondo-azul);
}

/*Titulo de la seccion*/
section.academic h2.academic__title {
    font-size: 32px;
    text-align: center;

}

/*Posicion de la seccion*/
section.academic div.academic__courses {
    display: flex;
    justify-content: center;
}

section.academic div.academic__courses__box {
    width: 26.6rem;
    margin: 0 1rem;
}


section.academic div.academic__courses__box ul {
    margin: 32px;
    padding: 0;
}


section.academic div.academic__courses__box ul li {
    padding: 0;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.academic div.academic__courses__box ul li.academic__courses__item__img {
    height: 286px;
}

div.academic__courses__box ul li.academic__courses__item__img {
    background-color: var(--color-cajas);
    padding: 8%;
}

section.academic div.academic__courses__box ul li.academic__courses__item__title {
    padding: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: left;

}

section.academic div.academic__courses__box ul li.academic__courses__item__subtitle {
    padding: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: left;
}

section.academic div.academic__courses__box ul li.academic__courses__item__title h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

section.academic div.academic__courses__box ul li.academic__courses__item__subtitle p {
    margin-top: 0px;
    margin-bottom: 0px;

}

/* experiencia*/

section.experience {
    padding: 64px 0;

}

/* Titulo seccion*/
section.experience h2.experience__section__title {
    font-size: 32px;
    text-align: center;
}

/*Posicion de la seccion*/
section.experience div.experiencie__box {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

div.experience__info h2 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0px;
}

div.experience__info p {
    font-size: 16px;
    line-height: 19px;
    margin-top: 8px;
}

div.experience__info-container h2 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0px;
}

div.experience__info-container p {
    font-size: 16px;
    line-height: 19px;
    margin-top: 8px;
}

section.experience div.experience__box {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-bottom: 32px;
}

.experience__info-container,
.experience__info {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    width: 368px;
    margin-left: 16px;


}

.experiencia__botao--repo {
    width: 105px;
    height: 51px;

    /* Azul/100% */

    background: #2A7AE4;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.experience__botao--demo {
    width: 116px;
    height: 51px;

    /* Azul/100% */

    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    cursor: pointer;
}

.formcontato__botao {
    width: 144px;
    height: 51px;

    /* Azul/100% */

    background: #2A7AE4;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}





/*Contacto*/

section.formcontato {
    padding: 64px 0;
    background: #EAF2FD;
}


section.formcontato div.formcontato__contacto {
    display: flex;
    justify-content: center;
}

.formcontato__text {
    margin-left: 16px;
}

.formcontato__text .formcontato__form {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.formcontato__form input,
textarea {
    margin-bottom: 32px;
    width: 656px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 4px;
}




/*footeer*/

section.footer {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;


}

section.footer div.footer__rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/*responsividad:
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media only screen and (min-width: 481px) and (max-width:768px) {

    /* Menú */

    section.menu {
        margin: 32px;
    }

    section.menu nav ul.menu__list li:nth-child(-n+5) {
        display: none;
    }

    section.title div.title__container h2 {
        font-size: 22px;
        font-weight: 700;
        line-height: 25px;
    }

    section.menu nav ul.menu__list {
        display: flex;
        justify-content: end;
        font-size: 16px;
        width: 450px;
    }



    /*title*/
    section.title {
        margin: 0 32px;

    }

    section div.title__container {
        width: 524px;
        margin-right: 32px
    }

    section.title div.title__div {
        justify-content: left;
    }

    section.title div.title__container h2 {
        font-size: 22px;
        line-height: 26px;

    }

    section.title div.title__div div.title__container ul {
        justify-content: space-around;
    }



    section.title div.title__div div.title__container h3 {
        width: 524px;
        line-height: 19px;
    }

    section.title img.title__profile {
        border-radius: 50%;
        width: 146px;
        height: 146px;
    }

    section.about {
        padding: 32px 32px;

    }

    section.about div.about__container {
        width: 100%;
    }


    /*Skills*/

    section.skills {
        margin: 32px 32px;
    }

    section.skills div.skills__box {

        height: 118px;
    }



    /*Hobbies*/

    section.hobbies {
        margin: 32px 32px;
    }

    section.hobbies div.hobbies__line div.hobbies__box {
        height: 118px;
    }

    /*Formación Académica*/

    section.academic {
        padding-top: 32px;
    }

    section.academic div.academic__courses__box {
        width: 12.6rem;
        margin: 0 1rem;
    }


    section.academic div.academic__courses__box ul {
        margin: 0px;

    }

    section.academic div.academic__courses__box ul li {
        margin: 0px;
        justify-content: center;


    }

    section.academic div.academic__courses__box ul li.academic__courses__item__img {
        height: 118px;
        width: 100%;
    }

    section.academic div.academic__courses__box ul li.academic__courses__item__title {
        line-height: 18px;
        height: 19px;
        font-size: 16px;
        margin-top: 8px;
    }

    section.academic div.academic__courses__box ul li.academic__courses__item__subtitle {
        line-height: 1rem;
        font-weight: 500;
        height: 16px;
        font-size: 14px;
        margin-top: 8px;

    }

    div.academic__courses__box ul li.academic__courses__item__img img {

        width: 84px;
        height: 58px;
    }


    section.academic h2.academic__title {
        margin-top: 0px;
    }

    /*Experiencia Profesional*/

    section.experience {
        padding: 32px 0;
    }

    section.experience div.experiencie__box {

        flex-direction: column;
        margin-left: 32px;
        margin-right: 32px;
    }

    section.experience div.experience__box {

        flex-direction: column;
        margin-left: 32px;
        margin-right: 32px;
    }

    .experience__info-container,
    .experience__info {
        margin-top: 8px;
        margin-left: 0px;


    }

    section.experience h2.experience__section__title {
        margin-top: 0px;
    }


    /*Contacto*/

    section.formcontato {
        padding-top: 32px;
    }

    .formcontato--esquerda {
        display: none;
    }

    .formcontato__form input,
    textarea {
        width: 99%;
    }

    .formcontato__text {
        margin-left: 32px;
        margin-right: 32px;

    }

    .formcontato__title {
        margin-top: 0px
    }

}

/*Mobile*/
@media only screen and (min-width: 0px) and (max-width: 480px) {

    body {
        width: 767px;
    }

    /*Menu*/

    section.menu {
        margin: 16px;
    }

    section.title {
        padding: 0px;
        margin: 0 16px;
    }

    section.menu nav ul.menu__list li:nth-child(-n+5) {
        display: none;
    }



    header.menu__header {
        align-items: center;
    }

    header.menu__header img {
        width: 16px;
        height: 16px;
    }

    header.menu__header h3.menu__title {
        white-space: nowrap;
        margin-left: 2px
    }


    section.menu nav ul.menu__list {
        justify-content: end;
        width: 300px;
    }

    /*Titulo*/

    section.title div.title__div {
        flex-direction: column;
    }

    section.title div.title__div div.title__container h3 {
        width: 100%;
    }

    section.title div.title__div div.title__container ul {
        width: 100%;
    }

    section.title div.title__container h2 {
        font-size: 22px;
        line-height: 26px;
    }

    section.title img.title__profile {
        width: 98px;
        height: 98px;
    }


    /*Sección sobre mi*/

    section.about {
        padding: 60px 16px;
    }

    /*Skills*/

    section.skills {
        margin: 32px 32px;
    }

    section.skills div.skills__box {
        width: 275px;
    }

    section.skills div.skills__box {
        justify-content: center;
    }

    section.skills div.skills__box ul img {
        margin-bottom: 8px;
    }

    /*Hobbies*/

    section.hobbies {
        margin: 32px 32px;
    }

    section.hobbies div.hobbies__line {
        width: 100%;
    }

    section.hobbies div.hobbies__line div.hobbies__box {
        width: 275px;
    }

    /*Formación Académica*/

    section.academic div.academic__courses__box {
        width: 36.6rem;
    }

    section.academic div.academic__courses {
        flex-direction: column;
        align-items: center;
    }

    section.experience div.experiencie__box {
        flex-direction: column;
        margin-left: 32px;
        margin-right: 32px;
    }

    section.experience div.experience__box {
        flex-direction: column;
        margin-left: 32px;
        margin-right: 32px;
    }





    /*Experiencia Profesional*/

    /*Contacto*/

    .formcontato--esquerda {
        display: none;
    }

    .formcontato__text {
        margin: 0 32px;
    }

    .formcontato__text .formcontato__form {
        width: 100%;
    }

    section.experience div.experiencie__box img.experience__img {
        margin-bottom: 8px;
    }

    section.experience div.experience__box img.experience__img {
        margin-bottom: 8px;
    }


    /*Footer*/

}